@import url(http://fonts.googleapis.com/css?family=Roboto:100,300,400,700);
@import url(https://fonts.googleapis.com/css?family=Lato:400,100,300,700,900);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

.row.flex-row {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  webkit-display: -webkit-flex;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  justify-content: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  align-items: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  margin-left: -0.9375rem;
  margin-right: -0.9375rem;
  margin-bottom: 1.25rem;
}
.row.flex-row .col {
  float: none;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}

::-moz-selection {
  background: transparent;
}

::selection {
  background: transparent;
}

html {
  -webkit-font-smoothing: antialiased;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html, body {
  position: relative;
  width: 100%;
}

body {
  -webkit-overflow-scrolling: touch;
  background: #FFFFFF;
  display: block;
  line-height: 1.45;
  margin: auto;
  max-width: 2560px;
  padding: 0px;
  position: relative;
  width: 100%;
}

h1 {
  color: #37474F;
  font-size: 4.5rem;
  font-weight: 400;
  line-height: 5.375rem;
  margin: 6.25rem 0px 2.25rem;
}
h1 strong {
  font-weight: 700;
}

h2 {
  color: #37474F;
  font-size: 3.25rem;
  font-weight: 400;
  line-height: 3.875rem;
  margin: 4.5rem 0px 1.625rem;
}
h2 strong {
  font-weight: 700;
}

h3 {
  color: #37474F;
  font-size: 2rem;
  font-weight: 400;
  line-height: 3rem;
  margin: 3.5rem 0px 1.25rem;
}
h3 strong {
  font-weight: 700;
}

h4 {
  color: #37474F;
  font-size: 1.75rem;
  font-weight: 400;
  line-height: 2.375rem;
  margin: 2.75rem 0px 1rem;
}
h4 strong {
  font-weight: 700;
}

h5 {
  color: #37474F;
  font-size: 1.625rem;
  font-weight: 400;
  line-height: 1.9375rem;
  margin: 2.4375rem 0px 0.875rem;
}
h5 strong {
  font-weight: 700;
}

h6 {
  color: #37474F;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.75rem;
  margin: 2.25rem 0px 0.8125rem;
}
h6 strong {
  font-weight: 700;
}

p {
  color: #37474F;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.625rem;
  margin-bottom: 1.25rem;
}
p strong {
  font-weight: 700;
}
p span {
  color: #37474F;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.625rem;
}

ul li {
  color: #37474F;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.625rem;
}

small {
  font-size: smaller;
}

pre {
  color: #37474F;
  display: block;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.1875rem;
  margin-bottom: 1.25rem;
  white-space: pre-line;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.32813rem;
}

sub {
  bottom: -0.16406rem;
}

input, textarea {
  /* Firefox 18- */
  /* Firefox 19+ */
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  text-transform: uppercase;
}
input:-moz-placeholder, textarea:-moz-placeholder {
  text-transform: uppercase;
}
input::-moz-placeholder, textarea::-moz-placeholder {
  text-transform: uppercase;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  text-transform: uppercase;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
input:focus {
  outline-width: 0;
}

img {
  display: block;
  max-width: 100%;
  width: 100%;
}

.wrapper {
  background: #d23078;
  background: -moz-linear-gradient(45deg, #d23078 0%, #ff6b5c 100%);
  background: -webkit-linear-gradient(45deg, #d23078 0%, #ff6b5c 100%);
  background: linear-gradient(45deg, #d23078 0%, #ff6b5c 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d23078', endColorstr='#ff6b5c',GradientType=1 );
}

.header {
  max-width: 100%;
  width: 100%;
}

.main {
  margin: auto;
  max-width: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.section {
  position: relative;
  max-width: 2560px;
  width: 100%;
}

.footer {
  max-width: 100%;
  width: 100%;
}

.container {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
  padding: 0px 10px;
  position: relative;
  width: 100%;
  max-width: 1020px;
}

.left, .alignleft {
  float: left;
}

.right, .alignright {
  float: right;
}

.center, .aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

.button {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
  background: #CC0033;
  border-radius: 50px;
  border: none;
  clear: both;
  color: #FFFFFF;
  cursor: pointer;
  display: block;
  font-size: 0.875rem;
  font-weight: 700;
  margin: 1rem auto;
  max-width: 200px;
  min-width: 150px;
  padding: 15px 0px;
  text-align: center;
  text-decoration: none;
}
.button:hover {
  -webkit-box-shadow: 0px 5px 11px 0px rgba(0, 0, 0, 0.18), 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 5px 11px 0px rgba(0, 0, 0, 0.18), 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0px 5px 11px 0px rgba(0, 0, 0, 0.18), 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  -ms-box-shadow: 0px 5px 11px 0px rgba(0, 0, 0, 0.18), 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 5px 11px 0px rgba(0, 0, 0, 0.18), 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  background: #FF1744;
}
.button.white {
  background: #FFFFFF;
  color: #CC0033;
}
.button.secondary {
  border: 1px solid #CC0033;
  background: none;
  color: #CC0033;
}
.button.secondary:hover {
  -webkit-box-shadow: 0px 5px 11px 0px rgba(0, 0, 0, 0.18), 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 5px 11px 0px rgba(0, 0, 0, 0.18), 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0px 5px 11px 0px rgba(0, 0, 0, 0.18), 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  -ms-box-shadow: 0px 5px 11px 0px rgba(0, 0, 0, 0.18), 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 5px 11px 0px rgba(0, 0, 0, 0.18), 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  background: #FF1744;
  color: #FFFFFF;
  border: 1px solid #FF1744;
}
.button.secondary.white {
  border: 2px solid #FFFFFF;
  color: #FFFFFF;
}
.button.secondary.white:hover {
  background: #FFFFFF;
  border: 2px solid #FFFFFF;
  color: #FF1744;
}
.button.disabled {
  background: #EEEEEE;
  color: #BDBDBD;
  cursor: default;
}
.button.disabled:hover {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
}
.button.right {
  margin: 1rem 0px;
}
.button.left {
  float: none;
  margin: 1rem 0px;
}

.input-field input[type="submit" i]:focus {
  outline-width: 0;
}

.flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  webkit-display: -webkit-flex;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  -webkit-box-direction: row;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-wrap: wrap;
  -webkit-box-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
}

.cf {
  *zoom: 1;
}
.cf:after {
  clear: both;
  content: "";
  display: table;
}

.movie {
  margin: 0 auto;
}
.movie--content {
  background-color: #FFFFFF;
  -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  padding: 2rem 1.5rem;
}

footer .footer {
  background: transparent;
  width: 100%;
}
footer .footer .menu-legales {
  height: 86px;
  overflow: hidden;
  width: 100%;
}
footer .footer .menu-legales nav {
  display: table;
  float: left;
  height: 100%;
  overflow: hidden;
}
footer .footer .menu-legales nav ul {
  display: table-row;
  margin: 0px;
  padding: 0px;
}
footer .footer .menu-legales nav ul li {
  display: table-cell;
  margin: 0px;
  padding-right: 1.25rem;
  vertical-align: middle;
}
footer .footer .menu-legales nav ul li a {
  color: #FFFFFF;
  font-size: 0.75rem;
  font-weight: 400;
  text-decoration: none;
}

@-moz-document url-prefix() {}
@media only screen and (min-width: 1024px) and (max-width: 1280px) {
  html {
    font-size: 14px;
  }
}
@media only screen and (min-width: 960px) and (max-width: 1024px) {
  html {
    font-size: 13px;
  }

  .container {
    max-width: 1024px !important;
  }
}
@media only screen and (min-width: 768px) and (max-width: 959px) {
  html {
    font-size: 11px;
  }

  body {
    height: 100vh;
  }

  .container {
    max-width: 959px !important;
  }
}
@media only screen and (max-width: 767px) {
  html {
    font-size: 14px;
  }

  .header {
    height: auto;
  }

  footer .footer .menu-legales {
    border: none;
    height: auto;
    padding: 24px 0px;
  }
  footer .footer .menu-legales nav {
    width: 100%;
  }
  footer .footer .menu-legales nav ul {
    width: 100%;
  }
  footer .footer .menu-legales nav ul li {
    display: block;
    margin-bottom: 24px;
    padding: 0px;
    width: 100%;
  }
  footer .footer .menu-legales nav ul li a {
    font-size: 1rem;
  }
}
