@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Roboto:100,300,400,700);
@import url(https://fonts.googleapis.com/css?family=Lato:400,100,300,700,900);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir="rtl"] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

.row.flex-row {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  webkit-display: -webkit-flex;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  justify-content: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  align-items: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  margin-left: -0.9375rem;
  margin-right: -0.9375rem;
  margin-bottom: 1.25rem;
}
.row.flex-row .col {
  float: none;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}

html {
  -webkit-font-smoothing: antialiased;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html, body {
  position: relative;
  width: 100%;
}

body {
  -webkit-overflow-scrolling: touch;
  background: #FFFFFF;
  display: block;
  line-height: 1.45;
  margin: auto;
  max-width: 2560px;
  padding: 0px;
  position: relative;
  width: 100%;
}
body > iframe {
  position: absolute;
}
body.hidden {
  overflow: hidden;
}

h1 {
  color: #37474F;
  font-size: 4.5rem;
  font-weight: 400;
  line-height: 5.375rem;
  margin: 6.25rem 0px 2.25rem;
}
h1 strong {
  font-weight: 700;
}

h2 {
  color: #37474F;
  font-size: 3.25rem;
  font-weight: 400;
  line-height: 3.875rem;
  margin: 4.5rem 0px 1.625rem;
}
h2 strong {
  font-weight: 700;
}

h3 {
  color: #37474F;
  font-size: 2rem;
  font-weight: 400;
  line-height: 3rem;
  margin: 3.5rem 0px 1.25rem;
}
h3 strong {
  font-weight: 700;
}

h4 {
  color: #37474F;
  font-size: 1.75rem;
  font-weight: 400;
  line-height: 2.375rem;
  margin: 2.75rem 0px 1rem;
}
h4 strong {
  font-weight: 700;
}

h5 {
  color: #37474F;
  font-size: 1.625rem;
  font-weight: 400;
  line-height: 1.9375rem;
  margin: 2.4375rem 0px 0.875rem;
}
h5 strong {
  font-weight: 700;
}

h6 {
  color: #37474F;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.75rem;
  margin: 2.25rem 0px 0.8125rem;
}
h6 strong {
  font-weight: 700;
}

p {
  color: #37474F;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.625rem;
  margin-bottom: 1.25rem;
}
p strong {
  font-weight: 700;
}
p span {
  color: #37474F;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.625rem;
}

ul li {
  color: #37474F;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.625rem;
}

small {
  font-size: smaller;
}

pre {
  color: #37474F;
  display: block;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.1875rem;
  margin-bottom: 1.25rem;
  white-space: pre-line;
}

header {
  max-width: 2560px;
  width: 100%;
}
header.fixed {
  position: fixed;
  top: 0px;
  z-index: 99;
}

.main {
  margin: auto;
  max-width: 1920px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

section {
  position: relative;
  max-width: 2560px;
  width: 100%;
}

footer {
  max-width: 2560px;
  width: 100%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.32813rem;
}

sub {
  bottom: -0.16406rem;
}

.container {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
  padding: 0px 10px;
  position: relative;
  width: 100%;
  max-width: 1200px;
}

.left, .alignleft {
  float: left;
}

.right, .alignright {
  float: right;
}

.center, .aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

.link {
  color: #CC0033;
  display: table;
  font-size: 1rem;
  font-weight: 700;
  margin: 1em auto;
  text-decoration: none;
  position: relative;
  overflow: hidden;
}
.link:before {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
  background: #CC0033;
  bottom: 0px;
  content: " ";
  display: block;
  height: 2px;
  left: 0px;
  position: absolute;
  width: 0%;
}
.link:hover:before {
  width: 100%;
}
.link.plus {
  padding-right: 1rem;
}
.link.plus:hover:before {
  width: calc(100% - 1rem);
}
.link.plus:after {
  position: absolute;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  top: 50%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  content: "";
  direction: ltr;
  display: inline-block;
  font-family: "Material Icons";
  font-feature-settings: "liga";
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-height: 1;
  text-rendering: optimizeLegibility;
  text-transform: none;
  white-space: nowrap;
  word-wrap: normal;
  font-size: 0.75rem;
  height: 0.625rem;
  line-height: normal;
  right: 0px;
  padding-bottom: 2px;
}
.link.datalle {
  padding-right: 1rem;
}
.link.datalle:hover:before {
  width: calc(100% - 1rem);
}
.link.datalle:after {
  position: absolute;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  top: 50%;
  content: "";
  font-family: "FontAwesome";
  font-size: 0.625rem;
  height: 0.625rem;
  line-height: normal;
  right: 0px;
}
.link.white {
  color: #FFFFFF;
}
.link.white:before {
  background: #FFFFFF;
}
.link.descarga {
  padding-left: 1rem;
}
.link.descarga:hover:before {
  width: calc(100% - 1rem);
}
.link.descarga:after {
  position: absolute;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  top: 50%;
  content: "";
  font-family: "FontAwesome";
  font-size: 0.625rem;
  height: 0.625rem;
  line-height: normal;
  left: 0px;
}
.link.descarga:before {
  left: 1rem;
}
.link.regresar {
  padding-left: 1.5rem;
}
.link.regresar:before {
  left: 1.5rem;
}
.link.regresar:hover:before {
  width: calc(100% - 1rem);
}
.link.regresar:after {
  position: absolute;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  top: 50%;
  content: "";
  font-family: "FontAwesome";
  font-size: 0.625rem;
  height: 0.625rem;
  line-height: normal;
  left: 0px;
}
.link.right {
  margin: 1rem 0px;
}
.link.left {
  float: none;
  margin: 1rem 0px;
}

.boton {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
  background: #CC0033;
  border-radius: 50px;
  border: none;
  clear: both;
  color: #FFFFFF;
  cursor: pointer;
  display: block;
  font-size: 0.875rem;
  font-weight: 700;
  margin: 1rem auto;
  max-width: 200px;
  min-width: 150px;
  padding: 15px 0px;
  text-align: center;
  text-decoration: none;
}
.boton:hover {
  -webkit-box-shadow: 0px 5px 11px 0px rgba(0, 0, 0, 0.18), 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 5px 11px 0px rgba(0, 0, 0, 0.18), 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0px 5px 11px 0px rgba(0, 0, 0, 0.18), 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  -ms-box-shadow: 0px 5px 11px 0px rgba(0, 0, 0, 0.18), 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 5px 11px 0px rgba(0, 0, 0, 0.18), 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  background: #FF1744;
}
.boton.white {
  background: #FFFFFF;
  color: #CC0033;
}
.boton.secundario {
  border: 1px solid #CC0033;
  background: none;
  color: #CC0033;
}
.boton.secundario:hover {
  -webkit-box-shadow: 0px 5px 11px 0px rgba(0, 0, 0, 0.18), 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 5px 11px 0px rgba(0, 0, 0, 0.18), 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0px 5px 11px 0px rgba(0, 0, 0, 0.18), 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  -ms-box-shadow: 0px 5px 11px 0px rgba(0, 0, 0, 0.18), 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 5px 11px 0px rgba(0, 0, 0, 0.18), 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  background: #FF1744;
  color: #FFFFFF;
  border: 1px solid #FF1744;
}
.boton.secundario.white {
  border: 2px solid #FFFFFF;
  color: #FFFFFF;
}
.boton.secundario.white:hover {
  background: #FFFFFF;
  border: 2px solid #FFFFFF;
  color: #FF1744;
}
.boton.disabled {
  background: #EEEEEE;
  color: #BDBDBD;
  cursor: default;
}
.boton.disabled:hover {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
}
.boton.right {
  margin: 1rem 0px;
}
.boton.left {
  float: none;
  margin: 1rem 0px;
}

.hamburguesa {
  position: absolute;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  top: 50%;
  color: #FFFFFF;
  cursor: pointer;
  display: none;
  font-size: 0.5625rem;
  padding: 0px 1rem;
  right: 0px;
  text-align: center;
}
.hamburguesa:before {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  content: "";
  direction: ltr;
  display: inline-block;
  font-family: "Material Icons";
  font-feature-settings: "liga";
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-height: 1;
  text-rendering: optimizeLegibility;
  text-transform: none;
  white-space: nowrap;
  word-wrap: normal;
  color: #FFFFFF;
  display: block;
  font-size: 24px;
}
.hamburguesa.activo:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  content: "";
  direction: ltr;
  display: inline-block;
  font-family: "Material Icons";
  font-feature-settings: "liga";
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-height: 1;
  text-rendering: optimizeLegibility;
  text-transform: none;
  white-space: nowrap;
  word-wrap: normal;
  display: block;
}

.input-field input[type="submit" i]:focus {
  outline-width: 0;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
input:focus {
  outline-width: 0;
}

.flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  webkit-display: -webkit-flex;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  -webkit-box-direction: row;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-wrap: wrap;
  -webkit-box-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
}

.contenedor {
  height: 100%;
  margin: auto;
  max-width: 1500px;
  width: 100%;
}

.anclas {
  display: block;
  height: 1px;
  overflow: hidden;
  position: absolute;
  top: 0px;
  visibility: hidden;
  width: 1px;
}

.redesSociales {
  background: #FAFAFA;
  display: table;
  margin-top: 1.25rem;
  overflow: hidden;
  position: fixed;
  right: 0px;
  width: 50px;
  z-index: 9;
}
.redesSociales > a {
  background: #CC0033;
  border-radius: 50%;
  color: #FFFFFF;
  display: table;
  height: 40px;
  margin: 0.875rem auto;
  position: relative;
  width: 40px;
}
.redesSociales > a:before {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  font-size: 26px;
}

.compartir {
  display: table;
  margin: auto;
}
.compartir > p {
  color: #F5F5F5;
  display: table-cell;
  letter-spacing: 0.125rem;
  line-height: 1.1875rem;
  margin-bottom: 0px;
  padding: 0px 1rem;
  vertical-align: middle;
}
.compartir > a {
  color: #FFFFFF;
  display: table-cell;
  height: 35px;
  position: relative;
  vertical-align: middle;
  width: 35px;
}
.compartir > a:before {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}
.compartir .icon-facebook {
  background: #3a579d;
}
.compartir .icon-google {
  background: #de4931;
}
.compartir .icon-mail-closed {
  background: #aaaaaa;
}
.compartir .icon-pinterest {
  background: #c8201f;
}
.compartir .icon-twitter {
  background: #07a9ea;
}

input, textarea {
  /* Firefox 18- */
  /* Firefox 19+ */
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  text-transform: uppercase;
}
input:-moz-placeholder, textarea:-moz-placeholder {
  text-transform: uppercase;
}
input::-moz-placeholder, textarea::-moz-placeholder {
  text-transform: uppercase;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  text-transform: uppercase;
}

.parallax-container {
  height: 100vh;
}

.btn, .btn-large {
  color: #5d914a;
}

.header {
  width: 100%;
}
.header.fixed {
  left: 0;
  margin: 0 auto;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 99;
}
.header.fixed .main-nav ul li a {
  font-size: 0.85rem;
}
.header-wrapper {
  background: #5d914a;
  color: #FFFFFF;
}
.header-menu {
  height: 45px;
}
.header .main-nav {
  display: table;
  float: right;
  height: 100%;
}
.header .main-nav ul {
  display: table;
  height: 100%;
  width: 100%;
}
.header .main-nav ul li {
  display: table;
  float: left;
  height: 100%;
  margin: 0;
}
.header .main-nav ul li a {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
  color: #FFFFFF;
  display: table-cell;
  font-size: 1rem;
  font-weight: normal;
  padding: 0 1.5rem;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
  border-bottom: 3px solid #5d914a;
}
.header .main-nav ul li a:hover {
  background-color: #538241;
  border-bottom-color: #FFFFFF;
  color: #FFFFFF;
}

.elementos {
  padding-bottom: 5rem;
}
.elementos .container .tabla {
  display: table;
  width: 100%;
}
.elementos .container .tabla > div {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: table-cell;
  vertical-align: middle;
  padding: 0px 1rem;
  width: 50%;
}
.elementos .container .tabla > div > img {
  display: block;
  max-width: 350px;
  margin: 0 auto;
  width: 100%;
}

.bannerHero {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  webkit-display: -webkit-flex;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  align-items: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  justify-content: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
}

.bannerHeroContent {
  padding: 0 1rem;
  text-align: center;
}
.bannerHeroContent h1, .bannerHeroContent h2 {
  margin: 0 0 1.75rem;
}

.topbar {
  margin: 0 auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  webkit-display: -webkit-flex;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  -ms-flex-pack: space-between;
  -ms-flex-pack: justify;
}
.topbar-info {
  margin: 0;
  padding: 0;
}
.topbar-info p {
  color: #FFFFFF;
  font-size: 0.75rem;
  margin: 0;
}

footer .footer {
  background: transparent;
  width: 100%;
}
footer .footer .menu-legales {
  height: 86px;
  overflow: hidden;
  width: 100%;
}
footer .footer .menu-legales nav {
  display: table;
  float: left;
  height: 100%;
  overflow: hidden;
}
footer .footer .menu-legales nav ul {
  display: table-row;
  margin: 0px;
  padding: 0px;
}
footer .footer .menu-legales nav ul li {
  display: table-cell;
  margin: 0px;
  padding-right: 1.25rem;
  vertical-align: middle;
}
footer .footer .menu-legales nav ul li a {
  color: #FFFFFF;
  font-size: 0.75rem;
  font-weight: 400;
  text-decoration: none;
}

@-moz-document url-prefix() {}
@media only screen and (min-width: 1024px) and (max-width: 1280px) {
  html {
    font-size: 14px;
  }
}
@media only screen and (min-width: 960px) and (max-width: 1024px) {
  html {
    font-size: 13px;
  }

  .container {
    max-width: 1024px !important;
  }
}
@media only screen and (min-width: 768px) and (max-width: 959px) {
  html {
    font-size: 11px;
  }

  body {
    height: 100vh;
  }

  .container {
    max-width: 959px !important;
  }
}
@media only screen and (max-width: 767px) {
  body {
    height: 100vh;
    overflow: scroll;
  }

  h1 {
    font-size: 2.5rem;
    line-height: 3rem;
  }

  h2 {
    font-size: 2rem;
    line-height: 2.125rem;
  }

  h3 {
    font-size: 1.875rem;
    line-height: 2.5rem;
  }

  h6 {
    font-size: 1.5rem;
  }

  .container {
    margin: auto;
    max-width: 767px !important;
    padding: 0px 20px;
    width: 100%;
  }

  .hamburguesa {
    display: block;
  }

  .flex {
    flex-direction: column;
    -webkit-box-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
  }

  .redesSociales {
    display: none;
    position: inherit;
    right: inherit;
    width: auto;
    margin: 1.25rem auto;
    border-radius: 10px;
  }
  .redesSociales > a {
    float: left;
  }

  .header {
    height: auto;
  }
  .header .container .con {
    display: block;
  }
  .header .container .con .logo {
    position: absolute;
    -webkit-transform: translate(0%, 0%);
    -moz-transform: translate(0%, 0%);
    -ms-transform: translate(0%, 0%);
    transform: translate(0%, 0%);
    position: inherit;
    top: inherit;
    left: inherit;
    margin: 0px;
  }
  .header .container nav {
    display: none;
    float: none;
    height: auto;
    width: 100%;
  }
  .header .container nav ul li {
    display: block;
    float: none;
    height: auto;
    margin: 1rem 0px;
  }
  .header .container nav ul li a {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    padding: 1rem 0px;
    text-align: center;
  }

  .elementos .container .tabla > div {
    display: block;
    padding: 0px;
    width: 100%;
  }

  footer .footer .menu-legales {
    border: none;
    height: auto;
    padding: 24px 0px;
  }
  footer .footer .menu-legales nav {
    width: 100%;
  }
  footer .footer .menu-legales nav ul {
    width: 100%;
  }
  footer .footer .menu-legales nav ul li {
    display: block;
    margin-bottom: 24px;
    padding: 0px;
    width: 100%;
  }
  footer .footer .menu-legales nav ul li a {
    font-size: 1rem;
  }
}
