footer.footer
	.container
		.footer--wrap
			.searchBox
				.searchBox--form-content
					input(id="SearchField", name="searchfield", placeholder="Buscar...", type="text").searchBox--form-field
				.searchBox--results(id="SearchBoxResults", onkeyup="getValue(this.value)")

	//script(src="https://www.google.com/jsapi")
	script(src=urlSitio + "js/core.js")