footer.footer
	.container
		.row.flex-row
			.footer-content.col.s12.m4
				.footer-heading
					h4 Item
					p Te asesoramos para que obtengas el mejor precio del mercado por tus pertenencias
			.footer-content.col.s12.m4
				.footer-heading
					h4 Item
					p Te asesoramos para que obtengas el mejor precio del mercado por tus pertenencias
			.footer-content.col.s12.m4
				.footer-heading
					h4 Item
					p Te asesoramos para que obtengas el mejor precio del mercado por tus pertenencias
		.row.flex-row
			.col.s12
				p
					small Desarollado por Notoriox
	script(src=urlSitio + "js/jquery.min.js")
	script(src=urlSitio + "js/core.js")