header.header
	.header-wrapper
		.container
			.topbar
				.topbar-info
					p Ejército Nacional #418 Entrada E (por Hegel), Polanco
				.topbar-info
					p Tel: 5203-6187 /5545-7551 | Whatsapp: 55-3401-9256
			.header-menu
				.main-nav
					ul
						li
							a(href="#") Inicio
						li
							a(href="#") Nosotros
						li
							a(href="#") Compramos
						li
							a(href="#") Contacto