- var location = "home"
- var title = "Ghibli Films | Movies list"

include includes/variables.pug

// Init DOM

doctype html
html(itemscope, itemtype="http://schema.org/WebPage")
	include includes/head.pug
	body
		.wrapper
			.loader
				.loader--wrap
			include includes/header.pug

			main.main
				section.section.moviesPage
					.container
						#MoviesList.moviesPage--wrap

			include includes/footer.pug