- var location = "home";
- var subLoc = " ";
- var titulo = "Ghibli films";
- var descrip = " ";
- var keyword = " ";
- var breadcrumb = "none";

include includes/mixines.pug
include includes/variables.pug

//- index.pug
doctype html
html(itemscope, itemtype="http://schema.org/WebPage")
	include includes/head.pug
	body
		.wrapper
			.loader
				.loader--wrap
			include includes/header.pug

			main.main
				section.section.moviesPage
					.container
						#MoviesCarousel.moviesPage--wrap
							
			include includes/footer.pug