//- Variables Principal 

//-Colores 

$Primary: #3f71ae
$Gallery: #eeeeee
$White: #FFF
$Black: #000

//-Font Family
$SansSerif: 'Montserrat', sans-serif

//- Size
$NavHeight: 2.625rem
$MainHeight: 2rem